.App {
 
  text-align:center;
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  width:100%;
  max-width:300px;
  height: auto;
  display:inline-block;
}

code {
  color: #10b158;
}

.App-body {
  text-align: center;
  background-color: white;
  color: #19336E;
  width:100%;
  height: 100%;
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.App-body>p {
  text-align: left;
  background-color: white;
  color: #19336E;
  width:100vh;

  padding-left: 10px;
  padding-right: 25px;
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  align-items: center;

}

.App-link {
  background: #19336e;
  color:white;
  padding:20px;
  margin:5px;
  width:300px;
  font-size:24px;
  border-radius:7px;

}
.App-link:hover {
  background:white;
  border: 2px solid #19336e;
  color: #19336e;
  transition:ease-in-out;
  transition-duration: .25s;
}
button {
  font-size: calc(10px + 2vmin);
}


.LinksDiv {
  background-color: white;
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #19336E;
}



.amv-logo {
  display:none;
}

hr {
      width: 198px;
      background-color: crimson;
      height: 4px;
      margin-top: -36px;
      border-radius: 50px;
}